### ðŸ§¾ Weekly Performance Dashboard for an Online Course Platform

You're a newly hired data analyst at **SkillSprint**, a company offering online upskilling courses. Your manager drops you a CSV file called `weekly_course_data.csv`. The file contains the following columns:

- `course_name`: Name of the course  
- `date`: Date the data was recorded  
- `completions`: Number of completions on that day  
- `average_rating`: Average course rating on that day  
- `order_value`: Value of purchases made that day for the course

---

#### ðŸŽ¯ Your Task

Prepare a quick insight report for the leadership team. Theyâ€™ve asked you to investigate and present useful findings.

---

#### ðŸ§  Business Questions to Answer

- What are the **total and average completions per course**?
- Which course has the **highest average rating** for the week?
- Which **day recorded the highest revenue** overall?
- Are there any **courses with suspiciously low ratings**?
- Whatâ€™s the **deadline to complete this analysis** before the weekly report goes out (assume every Sunday)?
- Is there any **punctuation or formatting issue** in course names you may want to clean before sharing charts?

---

In [1]:
#Checking Location so I can save csv file in the right directory
import os
print(os.getcwd())

C:\Users\Administrator\Downloads

In [2]:
# importing useful libraries, importing csv and first peek into data
import pandas as pd
weekly_course_data_df = pd.read_csv('weekly_course_data.csv')
print(weekly_course_data_df.shape)
weekly_course_data_df.head()

(35, 5)

     course_name      date  completions  average_rating  order_value
0  Python Basics  7/1/2024           33             4.5         6280
1  Python Basics  7/2/2024           77             4.2        10287
2  Python Basics  7/3/2024           50             4.4        10546
3  Python Basics  7/4/2024           25             3.8        14846
4  Python Basics  7/5/2024           73             4.6        11760

In [3]:
# CHeck for null and data type
weekly_course_data_df.info()
# weekly_course_data_df.dtypes weekly_course_data_df.isnull().sum()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 35 entries, 0 to 34
Data columns (total 5 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   course_name     35 non-null     object
 1   date            35 non-null     object
 2   completions     35 non-null     int64
 3   average_rating  35 non-null     float64
 4   order_value     35 non-null     int64
dtypes: float64(1), int64(2), object(2)
memory usage: 1.5+ KB

In [4]:
#Check that the date column is okay to go
weekly_course_data_df['date'].describe()

count           35
unique           7
top       7/1/2024
freq             5
Name: date, dtype: object

In [5]:
#Convert date column to correct data type
weekly_course_data_df['date'] = pd.to_datetime(weekly_course_data_df['date'])
# Verify the conversion worked
print(weekly_course_data_df['date'].dtype)

datetime64[ns]

In [6]:
#Check Summary Stats
weekly_course_data_df.describe()

                      date  completions  average_rating   order_value
count                   35    35.000000       35.000000     35.000000
mean   2024-07-04 00:00:00    60.514286        4.205714  13321.171429
min    2024-07-01 00:00:00    21.000000        3.600000   5161.000000
25%    2024-07-02 00:00:00    43.500000        3.850000   8649.000000
50%    2024-07-04 00:00:00    61.000000        4.100000  11760.000000
75%    2024-07-06 00:00:00    75.000000        4.550000  17825.000000
max    2024-07-07 00:00:00   100.000000        5.000000  23900.000000
std                    NaN    22.732940        0.424224   5661.511150

In [7]:
#Check data quality for text column.
weekly_course_data_df['course_name'].unique()

array(['Python Basics', 'Data Cleaning', 'AI Ethics', 'SQL for Beginners',
       'Machine Learning 101'], dtype=object)

In [8]:
# What are the total and average completions per course?
total_completion = weekly_course_data_df.groupby('course_name')['completions'].agg(['sum', 'mean'])

In [9]:
# Which course has the **highest average rating** for the week?
average_rating = weekly_course_data_df.groupby('course_name')['average_rating'].mean().sort_values(ascending=False)
top_rating = average_rating.head(1)

In [10]:
# Which **day recorded the highest revenue** overall?
daily_revenue = weekly_course_data_df.groupby('date')['order_value'].sum().sort_values(ascending = False)
top_daily_revenue = daily_revenue.head(1)

In [11]:
# Which **day recorded the highest revenue** overall?
daily_revenue_by_course = weekly_course_data_df.groupby(['date', 'course_name'])['order_value'].sum().sort_values(ascending = False)
top_daily_revenue_by_course = daily_revenue_by_course.head(6)
#print(top_daily_revenue_by_course)
#Check for individual course revenue
course_total = weekly_course_data_df.groupby(['course_name'])['order_value'].sum().sort_values(ascending = False)

In [12]:
# Are there any **courses with suspiciously low ratings**?
# Check 5-number Summary for ALL courses
weekly_course_data_df['average_rating'].describe()

count    35.000000
mean      4.205714
std       0.424224
min       3.600000
25%       3.850000
50%       4.100000
75%       4.550000
max       5.000000
Name: average_rating, dtype: float64

In [13]:
#On an average, our courses are doing well. However, we can investigate the lowest rating of 3.60 to see if there is anything worth following there
rating_breakdown = weekly_course_data_df.groupby(by = 'course_name')['average_rating'].agg(['min','mean','max']).sort_values(by = 'mean', ascending = False)
#print(rating_breakdown)

# Are there any courses with suspiciously low ratings?
# Based on the min ratings of 3.6 to 3.8 for these course, nothing is suspiciously low here. They are within a reasonable range.

In [14]:
# Whatâ€™s the deadline to complete this analysis before the weekly report goes out (assume every Sunday)?
#From before, we know that the dataset is from 2024-07-01 to 2024-07-07 '''
# Checking what day of the week the max date is 
import calendar
last_date = weekly_course_data_df['date'].max()
#StachOverflow Snippet
calendar.day_name[last_date.weekday()]  #'Wednesday'

'Sunday'

In [15]:
'''Since, the last date was a Sunday and our report goes out every Sunday, 
I would suggest the report is ready at least on Thursday to allow for at least two days of revision'''
# Adding 4 days to the max
from datetime import timedelta as td
deadline_submission = last_date + td(days = 4)
deadline_report = last_date + td(days = 7)

In [16]:
# Is there any punctuation or formatting issue in course names you may want to clean before sharing charts?
#From all my analysis so far, I don't see any issue. However, we can do one last and final check just because
weekly_course_data_df['course_name'].unique()

array(['Python Basics', 'Data Cleaning', 'AI Ethics', 'SQL for Beginners',
       'Machine Learning 101'], dtype=object)

In [17]:
#As expected, all looks good over here and it is properly formatted for viz.

In [19]:
print("== SKILLSPRINT WEEKLY PERFORMANCE SUMMARY ==")
print("-" * 44) 
print("\n1. COURSE COMPLETIONS:")
print(total_completion)

print("\n2. HIGHEST RATED COURSES:")
print(f"The top rated course is {top_rating.idxmax()} with rating of {top_rating.max().round(2)}")

print("\n3. REVENUE TREND:")
print(f"In the week in review, the company witnessed an high of {daily_revenue.max():,.2f} on {daily_revenue.idxmax().strftime('%A, %Y-%m-%d')} and a low of {daily_revenue.min():,.2f} on {daily_revenue.idxmin().strftime('%A, %Y-%m-%d')}")
print(f"\nTop Performing Courses by Revenue\n\n{course_total.to_string()}")

print("\n4. RATING OUTLOOK:")
print(rating_breakdown)
print("\nBased on the min ratings of 3.6 to 3.8 for these course, nothing is suspiciously low here. They are within a reasonable range.")

print("\n5. REPORT DEADLINE:")
print(f"The deadline for the report is {deadline_report.strftime('%A, %Y-%m-%d')}. However, the report will be turned in by {deadline_submission.strftime('%A, %Y-%m-%d')}")

print("\n6. DATA QUALITY ISSUES:")
print('Other than the date that was converted from string to datetime, the data had no issues and data cleaning was pretty straightforward.')

== SKILLSPRINT WEEKLY PERFORMANCE SUMMARY ==
--------------------------------------------

1. COURSE COMPLETIONS:
                      sum       mean
course_name
AI Ethics             371  53.000000
Data Cleaning         515  73.571429
Machine Learning 101  486  69.428571
Python Basics         392  56.000000
SQL for Beginners     354  50.571429

2. HIGHEST RATED COURSES:
The top rated course is Machine Learning 101 with rating of 4.41

3. REVENUE TREND:
In the week in review, the company witnessed an high of 84,944.00 on Monday, 2024-07-01 and a low of 54,883.00 on Saturday, 2024-07-06

Top Performing Courses by Revenue

course_name
AI Ethics               115780
Machine Learning 101    100353
Data Cleaning            93576
SQL for Beginners        81866
Python Basics            74666

4. RATING OUTLOOK:
                      min      mean  max
course_name
Machine Learning 101  3.7  4.414286  4.9
Python Basics         3.7  4.271429  4.7
SQL for Beginners     3.7  4.157143  5.0
Data Cleaning         3.6  4.100000  4.9
AI Ethics             3.8  4.085714  4.7

Based on the min ratings of 3.6 to 3.8 for these course, nothing is suspiciously low here. They are within a reasonable range.

5. REPORT DEADLINE:
The deadline for the report is Sunday, 2024-07-14. However, the report will be turned in by Thursday, 2024-07-11

6. DATA QUALITY ISSUES:
Other than the date that was converted from string to datetime, the data had no issues and data cleaning was pretty straightforward.